.totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__total {
  margin-top: .5rem;
}

.totals__inner {
  display: flex;
  gap: 3rem;
}
.totals__inner * {
  margin: unset;
}

.totals__total-value {
  font-size: 1.6rem;
  font-weight: 500;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 630px) {
  .totals__inner *,
  .totals__total,
  .totals * {
    font-size: 1.4rem !important;
  }
  .totals__inner {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 360px) {
  .totals__inner *,
  .totals__total,
  .totals * {
    font-size: 1.3rem !important;
  }
  .totals__inner {
    gap: 1.2rem;
  }
}