pickup-availability {
  display: block;
}

pickup-availability[available] {
  min-height: 8rem;
}

.pickup-availability-preview {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.pickup-availability-preview .icon {
  flex-shrink: 0;
  height: 1.4rem;
}

.pickup-availability-preview .icon-unavailable {
  height: 1.4rem;
  margin-top: 0.1rem;
}

.pickup-availability-info * {
  color: inherit;
}

.product-info-button,
.shipping-note {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  color: inherit;
  letter-spacing: 0.05rem;
  text-align: left;
  font-weight: 500;
  font-size: 1.5rem;
  transition: var(--duration-default) ease;
  text-decoration: none;
}

.shipping-note {
  display: inline-block;
  position: relative;
  top: -7px;
}

.product-info-button:hover,
.pickup-availability-list__item p a:hover {
  transform: translateY(-1px);
  opacity: .75;
}

.product-info-button {
  margin: 0 4rem 0 0;
  margin-bottom: 15px;
}

.product-info-button svg {
  margin: unset;
}

pickup-availability-drawer {
  background: transparent !important;
  height: 100%;
  opacity: 0;
  overflow: visible !important;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  transition: opacity var(--duration-default) ease, transform var(--duration-default) ease;
  transform: translateX(100%);
  width: 100%;
  border: none;
  filter: drop-shadow(
    var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius)
      rgba(var(--color-shadow), var(--drawer-shadow-opacity))
  );
  box-sizing: content-box;
}

pickup-availability-drawer[open] {
  transform: translateX(0);
  opacity: 1;
}

pickup-availability-drawer[open] * {
  position: relative;
  z-index: 4;
}

pickup-availability-drawer:before {
  opacity: 0;
  transition: var(--duration-default) ease;
}

pickup-availability-drawer[open]:before {
  opacity: 1;
  z-index: 3;
  content: '';
  position: absolute;
  height: 100vh;
  width: 150%;
  right: 0;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 36%);
}

pickup-availability-drawer .image {
  height: 375px;
  width: 100%;
  border-radius: var(--media-radius);
  overflow: hidden;
}
pickup-availability-drawer .image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 750px) {
  pickup-availability-drawer {
    transform: translateX(100%);
    width: 37.5rem;
  }

  pickup-availability-drawer[open] {
    opacity: 1;
    transform: translateX(0);
    animation: animateDrawerOpen var(--duration-default) ease;
  }
}

.pickup-availability-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.pickup-availability-drawer-title {
  font-size: 2.3rem;
  margin: 0;
}

.pickup-availability-header .icon {
  width: 2rem;
}

.pickup-availability-variant {
  font-size: 1.3rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  margin: 0 0 1.2rem;
  text-transform: capitalize;
}

.pickup-availability-variant > * + strong {
  margin-left: 1rem;
}

.pickup-availability-list__item {
  margin-top: 3rem;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, .1);
  border-radius: var(--media-radius);
  padding: 3rem;
}

.pickup-availability-list__item > * {
  margin: 0;
}

.pickup-availability-list__item:not(.dimensions) p:first-of-type {
  color: #467c75;
  font-weight: 500;
  font-size: 1.4rem;
}

.pickup-availability-list__item:not(.dimensions) p:not(:first-of-type) {
  font-size: 1.2rem;
}

.pickup-availability-list__item.dimensions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem 8rem;
  align-items: flex-start;
}

.pickup-availability-list__item.dimensions div {
  display: flex;
  gap: 15%;
  width: 100%;
  justify-content: flex-start;
}

.pickup-availability-list__item.dimensions .note {
  font-size: 1.2rem;
  width: 100%;
  margin-top: 1rem;
}

.pickup-availability-list__item.dimensions p {
  font-size: 1.4rem;
  margin: 0;
}

.pickup-availability-list__item.dimensions p span {
  display: block;
  font-weight: 500;
}

.pickup-availability-list__item p a {
  display: inline-block;
  color: inherit;
  font-weight: 500;
  transition: var(--duration-default) ease;
}


.pickup-availability-list__item > * + * {
  margin-top: 1rem;
}

.pickup-availability-list__item.dimensions > * + * {
  margin-top: 0;
}

.pickup-availability-address {
  font-style: normal;
  font-size: 1.2rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.pickup-availability-address p {
  margin: 0;
}

@keyframes animateDrawerOpen {
  @media screen and (max-width: 749px) {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media screen and (min-width: 750px) {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}


@media screen and (max-width: 900px) {
  .product-info-button {
    margin-right: 2rem;
  }
}