.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  transition: visibility var(--duration-default) ease;
}

.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: calc(100% - var(--header-height) - 3rem);
  margin-top: var(--header-height);
  max-width: 53rem;
  width: calc(100vw - 3rem);
  padding: 3rem;
  border-radius: var(--media-radius);
  border-right: 0;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
}

#CartDrawer .drawer__inner {
  max-width: 57rem;
}

.drawer__inner-empty {
  height: 100%;
  padding: 3rem;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.view-cart-button:after,
.view-cart-button:before {
  content: unset;
}

.view-cart-button {
  text-decoration: none;
  color: #fff;
  width: 100%;
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}

cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(-3rem);
}

.drawer__header {
  position: relative;
  background-color: rgb(var(--color-background));
  padding: 0 0 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer__heading {
  margin: 0;
}

.drawer__heading-wrapper {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.drawer__heading-wrapper span {
  font-weight: 500;
  font-size: 1.5rem;
}

.drawer__close {
  display: inline-block;
  padding: 0;
  min-width: 5rem;
  min-height: 5rem;
  position: absolute;
  font-size: 1.2rem;
  line-height: 1rem;
  right: 0;
  color: #fff;
  background-color: var(--black);
  border: none;
  cursor: pointer;
  border-radius: 25px;
  transition: var(--duration-default) ease;
}

.cart-drawer__warnings .drawer__close {
  right: 2rem;
  position: absolute;
  top: 2rem;
}

.drawer__close svg {
  height: 1.2rem;
  width: 1.2rem;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  background-color: rgb(var(--color-background));
  border-top: 0.1rem solid var(--grey);
  padding: 1.5rem 0;
}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

.drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid var(--grey);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer .summary__title {
  letter-spacing: 0.04rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
  font-size: 1.2rem;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
  opacity: 0;
  background-color: rgba(var(--color-foreground), 0.5);
  transition: var(--duration-default) ease;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.active .cart-drawer__overlay:empty {
  opacity: 1;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items,
.cart-drawer tbody {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
}

.cart-drawer tbody {
  display: flex !important;
  justify-content: space-between !important;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(var(--color-background));
}

cart-drawer-items {
  overflow: auto;
  flex: 1;
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  .drawer__inner {
    overflow: scroll;
  }
  .drawer__header {
    min-height: 8rem;
    padding-bottom: unset;
  }
}

.cart-drawer .cart-item {
  margin-bottom: 0;
}

.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
}

.cart-drawer .cart-item.text-container {
  border: 1px solid var(--grey);
  border-radius: var(--media-radius);
  padding: 2rem;
  width: 100%;
  margin-left: 1.5rem;
}

.cart-item__media-wrapper {
  display: inline-block;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--media-radius);
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-item .loading-overlay {
  right: 5px;
  padding-top: 2.5rem;
}

.cart-drawer .cart-items td {
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem 1.5rem;
  flex-wrap: wrap;
}

.cart-drawer .cart-item > td + td {
  padding-left: 1rem;
}

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
}

.cart-item__details-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem 1.5rem;
}

.cart-item__details-inner dl {
  margin: 0;
}

.cart-drawer .cart-item__totals {
  pointer-events: none;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
  padding-top: 0;
  padding-left: 0;
  margin-top: 1rem;
  grid-column: 2 / 5;
}

@media screen and (max-width: 749px) {
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
  }
}

.cart-drawer__footer > * + * {
  margin-top: 1rem;
}

.cart-drawer .totals {
  justify-content: space-between;
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .tax-note {
  margin: 1.5rem 0 2rem auto;
  text-align: left;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
  max-width: none;
}

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
  flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
    flex-basis: calc(50% - 0.5rem) !important;
  }
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}

.cart-drawer .quantity-popover-container {
  padding: 0;
}

.cart-drawer .quantity-popover__info.global-settings-popup {
  transform: translateY(0);
  right: 0;
}

.cart-drawer .cart-item__error {
  margin-top: 0.8rem;
}

.cart-drawer .quantity-popover__info + .cart-item__error {
  margin-top: 0.2rem;
}

@media screen and (min-width: 750px) {
  .cart-drawer .cart-item__quantity--info quantity-popover > * {
    padding-left: 0;
  }

  .cart-drawer .cart-item__error {
    margin-left: 0;
  }
}

@media screen and (max-width: 630px) {
  /* modal style
  .drawer__inner {
    height: calc(100vh - 15rem);
    width: calc(100vw - 4rem);
    padding: 2rem;
    margin-top: 2rem !important;
  }
  .drawer.active .drawer__inner {
    padding-top: 0;
    transform: translateX(-2rem);
    -webkit-transform: translateX(-2rem);
  } */

  /* full screen style */
  #CartDrawer .drawer__inner {
    max-width: unset;
  }
  .drawer__footer {
    padding-bottom: 0;
  }
  .drawer__inner {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    margin-top: 0 !important;
    border-radius: 0;
  }
  .drawer.active .drawer__inner {
    padding-top: 0;
    transform: translateX(0rem);
    -webkit-transform: translateX(0rem);
  }
  /* full screen style */

  .drawer__header {
    height: 8rem;
    padding-bottom: unset;
  }
  .cart-drawer .cart-item.text-container {
    padding: 1rem;
  }
  quantity-popover .quantity {
    width: 8rem;
  }
  .cart-item__media-wrapper {
    width: 30%;
  }
  .cart-drawer .cart-items .cart-item__media-wrapper td {
    height: 100%;
  }
  .cart-item__details {
    position: relative;
  }
  .cart-drawer .cart-item__totals {
    position: absolute;
    bottom: -4rem;
    right: 0;
  }
  .cart-drawer .cart-items td {
    justify-content: flex-start;
    gap: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
    flex-direction: column;
    gap: 0.5rem;
  }
}
