.image-mask-section .text {
  text-align: center;
  max-width: 700px;
  margin: auto;
  padding: 0 2rem;
}

.image-mask-section h2 {
  font-size: 5rem;
  font-weight: 600;
}

.image-mask-section p {
  max-width: 70rem;
  margin: 2rem auto;
}

.image-mask-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100vw;
  overflow: hidden;
}
.image-mask {
  border-radius: 56rem;
  display: block!important;
  margin: auto;
  background-size: cover;
  background-position: center;
  height: 56rem;
  background-repeat: no-repeat;
}

.image-mask.center {
  width: calc(100% - 65rem);
  margin: 0 auto;
}
.image-mask.left,
.image-mask.right {
  width: 56rem;
  height: 56rem;
  position: absolute;
  background-size: contain;
}
.image-mask.left {
  transform: translateX(-50%);
  background-position: right;
}
.image-mask.right {
  right: 0;
  transform: translateX(50%);
  background-position: left;
}

@media screen and (max-width: 1220px) {
  .image-mask.left {
    display: none !important;
  }
  .image-mask.center {
    width: calc(100% - 20rem);
    margin: unset;
    border-radius: 0 56rem 56rem 0;
  }
  .image-mask.right {
    right: 0;
    transform: translateX(40rem);
  }
}

@media screen and (max-width: 749px) {
  .image-mask,
  .image-mask.right {
    height: 39rem;
  }
  .image-mask.center {
    width: calc(100% - 10rem);
  }
  .image-mask.right {
    right: 0;
    transform: translateX(48rem);
  }
}