.multicolumn .title {
  margin: 0;
}

.multicolumn.no-heading .title {
  display: none;
}

.multicolumn .title-wrapper-with-link .h2 {
  color: var(--black) !important;
}

.multicolumn .title-wrapper-with-link {
  margin-top: 0;
  color: var(--black) !important;
}

@media screen and (max-width: 749px) {
  .multicolumn .title-wrapper-with-link {
    margin-bottom: 3rem;
  }

  .multicolumn .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.multicolumn-card__image-wrapper--third-width {
  width: 33%;
}

.multicolumn-card__image-wrapper--half-width {
  width: 50%;
}

.multicolumn-list__item.center .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width),
.multicolumn-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.multicolumn .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .multicolumn .button {
    margin-top: 4rem;
  }
}

.multicolumn-list {
  margin-top: 0;
  margin-bottom: 0;
}

.horizontal .multicolumn-list {
  flex-wrap: nowrap;
  overflow: scroll;
}

.multicolumn-list.text-on-top {
  position: relative;
}

.multicolumn-list.text-on-top .multicolumn-card__info {
  position: absolute;
  bottom: 0;
  padding: 5rem !important;
  text-shadow: var(--shadow);
  max-width: 60rem;
}

.multicolumn-list.text-above .multicolumn-card {
  display: flex;
  flex-direction: column-reverse;
  gap: 25px;
  height: 100%;
}

.multicolumn-list.text-above .multicolumn-card p {
  max-width: 600px;
}

.multicolumn-card__info.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.horizontal .multicolumn-list:not(.text-on-top) .multicolumn-card__info {
  padding-left: 0;
}

.multicolumn-list.text-on-top li:hover * {
  color: #fff !important;
}

.multicolumn-card__image-wrapper {
  position: relative;
  overflow: hidden;
}

.multicolumn-card__image-wrapper .hover-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity var(--duration-default) ease;
}

.multicolumn-card:hover .hover-image {
  opacity: 1;
}

.horizontal .multicolumn-list li:last-of-type {
  margin-right: 5rem;
}

.multicolumn-inner.horizontal {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: unset;
}

.multicolumn-list__item:only-child {
  max-width: 72rem;
}

.multicolumn-list__item--empty {
  display: none;
}

.multicolumn:not(.background-none) .multicolumn-card {
  background: rgb(var(--color-background));
  height: 100%;
}

.multicolumn.background-primary .multicolumn-card {
  background: rgb(var(--color-background))
    linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04));
}

.multicolumn-list h3 {
  line-height: 1em;
}

.multicolumn-list .rte h4 {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .15rem;
}

.multicolumn-list .rte h2 {
  margin: 0.7em 0;
}

.multicolumn-list h3,
.multicolumn-list p {
  margin: 0;
}

.multicolumn-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.multicolumn-card__info > :nth-child(2) {
  margin-top: 1rem;
}

.multicolumn-list__item.center .media--adapt,
.multicolumn-list__item .media--adapt .multicolumn-card__image {
  width: auto;
}

.multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .multicolumn-list.text-on-top .multicolumn-card__info {
    padding: 3rem !important;
  }
  .multicolumn-list {
    margin: 0;
    width: 100%;
  }

  .multicolumn-list:not(.slider) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 750px) {
  .multicolumn-list.grid--4-col-desktop {
    padding: 0;
  }

  .multicolumn-list__item,
  .grid--4-col-desktop .multicolumn-list__item {
    padding-bottom: 0;
  }

  .background-none .grid--2-col-tablet .multicolumn-list__item {
    margin-top: 4rem;
  }
}

.background-none .multicolumn-card-spacing {
  padding: 0;
  margin: 0;
  border-radius: var(--media-radius);
}

.multicolumn-card__info {
  padding: 2.5rem;
}

.background-none .multicolumn-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .multicolumn-card__info {
  padding-bottom: 0;
}

.background-none .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .multicolumn-card__info {
  padding-left: 0.5rem;
}


.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .multicolumn-card__info {
    padding-bottom: 1rem;
  }

  .multicolumn.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {

  .background-none .multicolumn-list .multicolumn-card__info,
  .background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.multicolumn-card {
  position: relative;
  box-sizing: border-box;
}

.multicolumn-card.border {
  border: 1.5px solid var(--grey);
}

.multicolumn-card.border.no-image {
  height: 100%;
  padding: 90px 30px 30px 30px;
}

.multicolumn-card > .multicolumn-card__image-wrapper--full-width:not(.multicolumn-card-spacing),
.multicolumn.background-none .multicolumn-card  {
  border-radius: var(--media-radius);
  overflow: hidden;
}

.multicolumn-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.multicolumn-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 990px) {
  .multicolumn-list__item--empty {
    display: list-item;
  }
}