@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .category-header {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}

.scroll-buttons-wrapper {
  position: relative;
  z-index: 1;
  margin: 3rem auto 0 auto;
}

.scroll-buttons {
  left: 0;
  right: 0;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  position: absolute;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: scroll;
  padding: 0.2rem 5rem;
}

.scroll-placeholder {
  height: 9rem;
  width: 100%;
  display: block !important;
}

.scroll-button {
  color: var(--black) !important;
  font-family: inherit;
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem 15rem 2rem 2rem;
  border: 1px solid var(--grey);
  border-radius: calc(var(--media-radius) / 2);
  background: #fff;
  text-align: left;
  transition: var(--duration-default) ease;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.scroll-button:last-of-type:after {
  content: '';
  position: absolute;
  width: 2rem;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  right: -2rem;
}

.scroll-button:hover {
  transform: translateY(-2px);
}

.scroll-buttons.fixed {
  position: fixed;
  top: 2rem;
  transition: top var(--duration-default) ease;
}

.scroll-buttons.fixed.move {
  top: 10.5rem;
}

@media screen and (max-width: 989px) {
  .scroll-buttons.fixed.move {
  top: 9rem;
}
}

.scroll-button span {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.category-header {
  padding-top: 4rem;
  margin-bottom: 3rem;
}

.category-header:first-of-type {
  padding-top: 3rem;
}

@media screen and (max-width: 749px) {
  .scroll-buttons {
    padding-right: 2rem;
    padding-left: 2rem;
    scroll-padding-left: 2rem;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  .scroll-button {
    scroll-snap-align: start;
    padding: 1.7rem 7rem 1.7rem 1.7rem;
    font-size: 1.8rem;
  }
  .scroll-button span {
    font-size: 1rem;
    margin-bottom: 0.8rem;
  }
}